*{
	padding:0;
	margin:0;
	box-sizing: border-box;
}
.color1 {color: #5c2d4b;}
.color2 {color: #7d3a55;}
.color3 {color: #af5265;}
.color4 {color: #f3797a;}
.color5 {color: #ffb38f;}

body{
	font-size:16px;
	/*background-color: #03001e;  */
	background-color: linear-gradient(43deg, #fdeff9, #ec38bc, #7303c0);
	background-repeat: repeat-x;
	
}
@keyframes CambioFondo{
	0%{background-position: 0% 50%;}
	50%{background-position: 99% 50%;}
	100%{background-position: 0% 50%;}
}

.elcontiene{
	position: absolute;
	width: 100%;
	/*min-height: 100vh;*/
	background: #03001e;  /* fallback for old browsers */
	background: -webkit-linear-gradient(43deg, #fdeff9, #ec38bc, #7303c0);  /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(43deg, #fdeff9, #ec38bc, #7303c0); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
	background-size: 400% 300%;
	animation: CambioFondo 5s ease infinite;
}


/*---------estilos generale------------------*/
.fcentrado{
	display:flex;
	justify-content:center;
	align-items: center;
}
.fvcentrado{
	display:flex;
	flex-direction: column;
	flex-wrap: wrap;
	align-items: center;
	justify-content: space-between;
}
.transparente{
	background: none;
	background: rgba(255,255,255,0.1);
	border-radius:10px;
	backdrop-filter:blur(5px);
	-webkit-backdrop-filter: blur(5px);
	box-shadow: 0 25px 45px rgba(0,0,0,0.1);
	border-right:3px solid rgba(255,255,255,0.2);
	border-bottom:3px solid rgba(255,255,255,0.2);
}

/*---------simpre se usan ------------------*/


.header{
	width: 80vw;
	height: 90px;
	z-index: 10;
	margin-bottom: 40px;
}

.caja{
	width: 80vw;
	height: 70vh;
	position: relative;
	margin-bottom:40px;
	padding: 50px;

}
.elcontiene div:first-child{
	visibility: hidden;
}

.elcontiene> header{
	position: fixed;
	z-index: 50;
	top:0;
	background: -webkit-linear-gradient(43deg, #f592da, #ec38bc, #b821be);  /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(43deg, #f592da, #ec38bc, #b821be); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
	background-size: 400% 300%;
	animation: CambioFondo 5s ease infinite;

}
.elcontiene article:nth-child(6){
	color:red;
	position:static;
}
