@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
	padding:0;
	margin:0;
	box-sizing: border-box;
	font-family: "Poppins",sans-serif;
	color: #eee;
}
.color1 {color: #5c2d4b;}
.color2 {color: #7d3a55;}
.color3 {color: #af5265;}
.color4 {color: #f3797a;}
.color5 {color: #ffb38f;}

body{
	font-size:16px;
}

a{
	text-decoration:none;
}

.elcontiene{
	position: absolute;
	width: 100%;
	/*min-height: 100vh;*/
	background: rgb(254,172,94);  
	background: linear-gradient(90deg, rgb(75,192,200), rgb(199,121,208), rgb(254,172,94)); 

	background-size: 400% 300%;
	animation: CambioFondo 5s ease infinite;
}
@keyframes CambioFondo{
	0%{background-position: 0% 50%;}
	50%{background-position: 99% 50%;}
	100%{background-position: 0% 50%;}
}

/*----------------------------------felx---------------------------------*/
.fcentrado{
	display:flex;
	justify-content:center;
	align-items: center;
}
.fvcentrado{
	display:flex;
	flex-direction: column;
	flex-wrap: wrap;
	align-items: center;
	justify-content: space-between;
}
.fwrapcentrado{
	display:flex;
	flex-wrap: wrap;
	justify-content: space-around;
	align-items: center;
}
/*----------------------------------estilos generale---------------------------------*/

.transparente{
	background: none;
	background: rgba(255,255,255,0.1);
	border-radius:10px;
	backdrop-filter:blur(5px);
	-webkit-backdrop-filter: blur(5px);
	box-shadow: 0 25px 45px rgba(0,0,0,0.1);
	border-right:3px solid rgba(255,255,255,0.2);
	border-bottom:3px solid rgba(255,255,255,0.2);
}
.borde{

	border-radius:10px;
	box-shadow: 0 25px 45px rgba(0,0,0,0.1);
	border-right:3px solid rgba(255,255,255,0.2);
	border-bottom:3px solid rgba(255,255,255,0.2);
}
.aparece{
	padding: 20px 30px;
	max-width: 60%;
	transition: all 1s;
	border-radius:10px;
	border-right:3px solid rgba(255,255,255,0.1);
	border-bottom:3px solid rgba(255,255,255,0.1);
	background:none;
}
@media (max-width: 790px) { 
	.aparece{min-width: 350px;}
}@media (max-width: 500px) { 
	.aparece{min-width: 95%;}
}
.aparece:hover{
	background: rgba(255,255,255,0.1);
	border-right:3px solid rgba(255,255,255,0.2);
	border-bottom:3px solid rgba(255,255,255,0.2);
	backdrop-filter:blur(5px);
	-webkit-backdrop-filter: blur(5px);
	box-shadow: 0 25px 45px rgba(0,0,0,0.1);
}
.aparecesutil{
	transition: all 1s;
	border-radius:10px;
	border-right:3px solid rgba(255,255,255,0.0);
	border-bottom:3px solid rgba(255,255,255,0.0);
	background:none;
}
.aparecesutil:hover{
	background: rgba(255,255,255,0.1);
	border-right:3px solid rgba(255,255,255,0.2);
	border-bottom:3px solid rgba(255,255,255,0.2);
	backdrop-filter:blur(5px);
	-webkit-backdrop-filter: blur(5px);
	box-shadow: 0 25px 45px rgba(0,0,0,0.1);
}

/*---------simpre se usan ------------------*/


.header{
	width: 80vw;
	height: 90px;
	z-index: 10;
	margin-bottom: 40px;
}

.caja{
	width: 80%;
	min-height: 70vh;
	position: relative;
	margin-bottom:40px;
	padding: 50px;
}
@media (max-width: 1199px) {
	.caja{width: 90%; padding: 30px;}
	.header{width: 90%;}
}
@media (max-width: 540px) { 
	.caja{width: 90%; padding: 20px;}
	.header{width: 95%;}
}
.caja p{
	font-size: 1.1rem;
	text-align: center;
}
.caja h2{
	font-size: 1.4rem;
	width: 100%;
	text-align: center;
	margin-bottom: 20px;
}
.headercopia{
	visibility: hidden;
}

.elcontiene> header{
	position: fixed;
	z-index: 50;
	top:0;
	background: rgb(254,172,94);  
	background: linear-gradient(90deg, rgb(75,192,200), rgb(199,121,208), rgb(254,172,94)); 
	background-size: 400% 300%;
	animation: CambioFondo 5s ease infinite;
}

.fondocambio{
	background: rgba(254,172,94,0.7);  
	background: linear-gradient(45deg, rgba(75,192,200,0.7), rgba(199,121,208,0.7), rgba(254,172,94,0.7)); 
	background-size: 400% 300%;
	animation: CambioFondo 5s ease infinite;
}
/*=======================================yo soy=======================================*/
.yosoy img{
	height: 350px;
	border-radius:10px;
	box-shadow: 2px 25px 45px rgba(0,0,0,0.3);
	border-right:4px solid rgba(255,255,255,0.2);
	border-bottom:4px solid rgba(255,255,255,0.2);
	margin-bottom: 20px;
}
@media (max-width:430px){
	.yosoy img{height:unset; width:70%;}
}

.yosoy p{
	max-width: 550px;
}

/*=======================================medallero=======================================*/
.medallero {
	display:flex;
	flex-direction: column;
	flex-wrap: wrap;
	align-items: center;
	justify-content: space-around;
}
 .contenedormedallas{
 	background: #000;
 }
.vueltas{
	max-height: 150px;
	max-width: 150px;
	box-shadow: 2px 25px 45px rgba(0,0,0,0.2);
	border-right:4px solid rgba(255,255,255,0.2);
	border-bottom:4px solid rgba(255,255,255,0.2);
	margin:5px 10px;
	border-radius: 50%;

}
.vueltas figure{
	position: relative;
	transition: all ease .5s;
	transform-style: preserve-3d;
	transform: perspective(600px) rotateY(0deg);
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.vueltas:hover figure,
.vueltas:active figure{
	-webkit-transform: perspective(600px) rotateY(180deg);
	-ms-transform: perspective(600px) rotateY(180deg);
	-o-transform: perspective(600px) rotateY(180deg);
	transform: perspective(600px) rotateY(180deg);
}
.vueltas:hover img,
.vueltas:active img{
	filter: blur(2px);
}


figure .frontal{
	width: 100%;
	height: 100%;
	border-radius:5px;
	transition: all ease .5s;

	display: block;
	/*backface-visibility: hidden;*/
}
figure .trasera{
	width: 100%;
	height: 100%;
	border-radius:5px;
	transition: all ease .5s;

	position: absolute;
	top:0%;
	border-radius: 50%;
	transform: perspective(600px) rotateY(180deg);
	backface-visibility: 
	overflow: hidden;
	backface-visibility: hidden;
	background: rgba(254,172,94,0.7);  
	background: linear-gradient(45deg, rgba(75,192,200,0.7), rgba(199,121,208,0.7), rgba(254,172,94,0.7)); 
	background-size: 400% 300%;
	animation: CambioFondo 5s ease infinite;
}
/*=======================================algunos trabajos=======================================*/
.contienegeneral{
	width:100%;
}
.targeta{
	width:350px;
	min-height: 420px;
	margin:15px 5px;
	padding: 1.5rem;
	display:flex;
	flex-flow: column;
	align-items: center;
	position: relative;
}
@media (max-width: 1050px) { 
	.targeta{min-height:unset;}
}@media (max-width: 540px) { 
	.targeta{width: 95%;}
}@media (max-width: 340px) { 
	.targeta{width: 99%;}
}
.misproyectos h3{
	font-size: 1.3rem;
	text-align: center;
	margin-bottom: 1.3rem;
}
.misproyectos p{
	font-size: 1rem;
	text-align: center;
	margin-bottom: 1.3rem;
}
.misproyectos .targeta .unaafter{
	content: "";
	position: absolute;
	top:0;
	left:0;
	width: 50%;
	height: 100%;
	background:rgba(255,255,255,0.06);
	border-top-left-radius:10px;
	border-bottom-left-radius:10px;
	border-top-right-radius:0px;
	border-bottom-right-radius:0px;
	transition:all 3s ease;
}

.misproyectos .targeta:hover .unaafter{
	/*animation: EmpujeDerecha 5s ease infinite;*/
	left:50%;
		border-top-left-radius:0px;
		border-bottom-left-radius:0px;
		border-top-right-radius:10px;
		border-bottom-right-radius:10px;
}

.misproyectos .targeta a{
	margin-top: 10px;
	display: inline-block;
	text-align: center;
	font-size:1.1rem;
	min-width: 50%;
	padding: 20px 0px;
	position: absolute;
	bottom: 2.2rem;
	perspective(1000px);
	translateZ(100px);
}
.misproyectos .targeta .falso{
	position: static;
	background: red;
	visibility: hidden;
}
/*===================================habilidades===========================================*/

.habilidades .tecnicas{
	width:40%;
	height: 80%;
}
.habilidades .profesionales{
	width:55%;
	height: 80%;
}
@media (max-width: 930px) {
	.habilidades .tecnicas{	width:80%;}
	.habilidades .profesionales{width:80%;}
}
@media (max-width:500px) {
	.habilidades .tecnicas{	width:95%;}
	.habilidades .profesionales{width:95%;}
}
.habilidades .aparece{
	max-width: 90%;
	font-size: 1.3rem;

}

.lashabilidades{
	width: 80%;
	padding: 0px 20px;

}
@media (max-width: 350px) {
	.lashabilidades{width: 90%}
}


.lashabilidades .barra{
	height: 10px;
	width: 100%;
	margin-bottom: 10px;
}
.lashabilidades .progreso{
	height: 10px;
	width: var(--l);
	animation: Barra 5s ease;
	border-radius: 10px;
	border:2px solid rgba(255,255,255,0.5);
}
.lashabilidades:active .progreso{
	animation: Barrad 5s ease ;
}
@keyframes Barra{
	0%{width:0%}
	100%{width: var(--l)}
}
@keyframes Barrad{
	0%{width:0%}
	100%{width: var(--l)}
	/*100%{width:0%}*/
}
.lashabilidades h3{
	font-size: 1rem;
}







/* RESPONSIVE
   ========================================================================= */
/* escritorios grandes
   ------------------------------------------------------------------------- */
@media (min-width: 1800px) {
	.vueltas{max-height: 200px;	max-width: 200px;}
}
/* Tablets en horizonal y escritorios normales
   ------------------------------------------------------------------------- */
@media (max-width: 1199px) {
	.vueltas{max-height: 160px;	max-width: 160px;}
}
 
/* Móviles en horizontal o tablets en vertical
   ------------------------------------------------------------------------- */
@media (max-width: 767px) { 
	.vueltas{max-height: 120px;	max-width: 120px;}
}
 
/* Móviles en vertical
   ------------------------------------------------------------------------- */
@media (max-width: 480px) {
	.header{width: 90vw;}
	/*.caja{	width: 90vw;}*/
	html{font-size:14px}
	/*.medallero img{	max-height: 80px; margin:5px 0px;}
	.vueltas{max-height: 80px;	max-width:80px; margin:5px 0px;}*/
	figure .trasera p{font-size:0.9rem; line-height : 1.3rem;}
}
/* Móviles en vertical
   ------------------------------------------------------------------------- */
@media (max-width: 370px) {
	html{font-size:12px}
}
@media (max-width: 270px) {
	html{font-size:10px}
	.vueltas{max-height: 100px;	max-width: 100px;}
}