*{
	margin:0px;
	padding:0px;
	text-decoration: none;
	font-family: Verdana;
}

body{
	font-size: 16px;
	background-color: #7E61C9;
}
p{
	text-align: center;
	color:#4928A0;
}
/*--------------------------------------titulo-------------------------------------------*/
.header>h2{
	background: rgb(223,93,162);
	background: linear-gradient(167deg, rgba(223,93,162,1) 24%, rgba(190, 30,114,1)72%, rgba(223,93,162,1) 87%);
	font-size: 5rem;
	font-weight: 900;
	-webkit-text-fill-color:transparent;
	-webkit-background-clip:text;
}
.header{
	margin:0em 0em 2em 0em;
}


/*------------------------------Algunos estilos Flex--------------------------------*/
.f-centrado{	
	display:flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap; 
}
.f-nw-between{ 
	display: flex;
	flex-wrap: nowrap;
	justify-content: space-between;
	/*align-items: center;*/
}
.f-nw-around{
	display: flex;
	flex-wrap: nowrap;
	justify-content: space-around;
	/*align-items: center;*/
}
.f-w-around{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
}
.f-espaciado{	
	width: 100%;
	display:flex;
	justify-content: space-around;
	align-items: center;
}

.f-v-espaciado{	
	display:flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;	
}

.f-alingitems-centro{
	align-items: center;
}
.f-v-h-espaciado{
	display:flex;
	align-items: center;
	justify-content: space-around;
}

.f-v-centro{
	
}

@media (max-width: 450px) {
.f-v-h-espaciado{
		display:flex;
		flex-direction: column;
	}
}

/*--------------------------------------Contenedores---------------------------------------*/
.contenedor{
	width:600px;
	min-width: 98%;
	/*border: 3px dashed red;*/
	background-color: #7E61C9;
	padding:3.1em 0em;
	width: 95%;
	margin:auto;
	display:grid;
	grid-template-columns: 1fr 4fr;
	grid-template-areas: "he he" "n0 n0" "n1 n1" "n2 n2" "n3 n3" "emojis prin" "algo prin";
 	grid-gap: 0.6em;

}
.header{grid-area:he; }
.nivel0{grid-area:n0; }
.nivel1{grid-area:n1; }
.nivel2{grid-area:n2;}
.nivel3{grid-area:n3; }
#contEmojis{grid-area:emojis;}
#conprincipal{grid-area:prin;}


/*--------------------------------------Estilos particualres---------------------------------------*/
/*el menu desplegable y sus botones*/
.linea{
	width:100px;
	min-width: 98%;
	min-height: 2.8em;
	/*border: 3px dashed black;*/
}

.boton{ /*particular*/
	min-height: 2.8em;
	background-color: #DF5DA2;
	width: 1000px;
	border:none;
	padding: 5px 5px 5px 5px;
	margin:0px 0px 0px 0px;
	font-size: 1em;
	border-radius:0.2em;
	border:0.1em solid white;
}
/*--------------------------------------Estilos particualres---------------------------------------*/

/*------los botones con emojis--------*/
.mini{	
	border:none;
	border-radius: 50%;	
	overflow: hidden;
	height:1.5em;
	width: 1.5em;
	/*padding: 0.3rem 0.3rem;*/
	margin:0.5em 0.3em;
	font-size: 1.2em;
	color: #5F63C0;
}

/*------los botones que son de extras--------*/
.cont_botones{
	background-color: #52ACBD;
	padding: 0.8em;
	border-radius: 1.2em;
	width: 13em;
	margin: 0em 0em 0.3em 0em;
	/*border: 3px dashed black;*/
}


.cont_botones>p{
	text-align: center;
	color:#4928A0;
	font-weight: 600 ;
}

	
/*@media (max-width: 750px) {.cont_botones{	width: 10em;} }
@media (max-width: 450px) {.cont_botones{	width: 9em;	} }
@media (max-width: 390px) {.cont_botones{	width: 8em;	} }*/


/*el lugar donde se agregara el texto*/
.cajis{
	background-color: #FFE86B;
	border-radius: 2em;
	max-height: 500px;
}

#contprincipal{
	min-height: 500px;
	max-height: none;

}

/*la linea 0*/
.textoparrafo{
	background-color: #52ACBD;
	min-width: 220px;
	width: 40%;
	padding: 0.8em 0.0em;
	margin: 0.2em 0em;
	border-radius: 1.2em;
}

@media (max-width: 1000px) {.textoparrafo{width: 45%;}  }
@media (max-width: 870px)  {.textoparrafo{width: 100%;}  }

.textoparrafo>div{
	width: 100%;
}
.textoparrafo>p{
	text-align: center;
	color:#4928A0;
	font-weight: 600 ;
}


/*texto de corazones*/
.undivtetundivtetocorazones{width: 50%;}
@media (max-width: 1300px) {.undivtetocorazones{width: 100%;}  }

@media (max-width: 870px)  {.undivtetocorazones{width: 100%;}  }




/*--------------------------------------Botones---------------------------------------*/
.btn{
	border:none;
	margin: 0.2em 0.4em;
	border-radius:0.5em;
	padding: 0.4em 0.5em;
	border:0.1em solid white;

}
.btn p{
	text-align: center;
	color:#4928A0;
	font-size: 1.2em;
}
@media (max-width: 750px) { .btn p{	font-size: 1.1em;} }
@media (max-width: 420px) { .btn p{	font-size: 1em;} } 
@media (max-width: 320px) { .btn p{	font-size: 0.8em;} }


.boton p{
	text-align: center;
	color:#4928A0;
	font-weight: 700 ;
}

.boton:hover{
	background-color: #EC84BB ;
	transition-duration: 0.4s;
}

.boton:active{
	background-color: #D13E8C;
	transition-duration: 0.2s;	
}

.circulo{
	height:2em;
	width: 2em;
	border:none;
	border-radius: 50%;	
	background-color: #7AC8D7;
	overflow: hidden;
	margin: 0.3em;
	border:0.1em solid white;
	color:#4928A0;
	font-weight: 600;
}

.azul:hover{ background-color: #7AC8D7 }
.azul { background-color: #52ACBD}
.azul:active { background-color: #328EA0 }
.azul p{ color:#4928A0}

.botonrosa {background-color: #DF5DA2}
.botonrosa:hover {background-color: #EC84BB}
.botonrosa:active {background-color: #D13E8C}

.morado{background-color: #7E61C9;}
.morado:hover{transition-duration: 0.4s; background-color:#9F87DE;}
.morado:active{transition-duration: 0.2s; background-color:#6142B1;}
.morado {color:#FFF4BA; text-align: center;
}

/*--------------------------------------Input Text y Texto---------------------------------------*/
.input-text-g{
	color: #4928A0;
  	width: 80%;
}
.input-text-ch{
  color: #4928A0;
  width: 75%;
}
@media (max-width: 750px) {.input-text-ch {width: 65%;} }
@media (max-width: 420px) {.input-text-ch {width: 60%;} }
@media (max-width: 320px) {.input-text-ch {width: 50%;} }

.TextoChiquito{
	text-align: center;
	color:#4928A0;
	font-size: 0.9em;
}





/*---------------------------------------------Cosas JS--------------------------------*/
.desaparecer{
	display:none;
}

.estaactivado{background-color:#D13E8C;}
.estaactivado:hover{background-color: #D13E8C;}
.estaactivado:active{background-color: #BE1E72;}

/*eston no sirven de nada solo es para identificarlos*/
.lin2{}
.lin2{}
.lin3{}
.bin2{}


.justificadocentro{
	text-align: center;
}
.justificadoizquierda{
	text-align: left;
}


/*----------------------------------Media query-------------------------*/
@media (max-width: 750px) {
	body{
		font-size: 14px;	
	}
	.header>h2{
		font-size: 4rem;
	}

	.contenedor{
		grid-template-columns: 1fr;
		grid-template-areas: "he" "n0" "n1" "n2" "n3" "emojis" "prin";
	}


}

@media (max-width: 420px) {

	body{
		font-size: 12px;	
	}
	.header>h2{
		font-size: 3.5rem;
	}


}
@media (max-width: 320px) {

	body{
		font-size: 10px;	
	}
	.header>h2{
		font-size: 2rem;
	

}