*{
padding:0;
margin:0;
-webkit-box-sizing: border-box;
moz-box-sizing: border-box;
box-sizing: border-box;

}
body{
	background-image: url('../img/triangulosfondo.png');
	background-size: cover;
	background-attachment: fixed;
	font-family:'Open Sans',Sans-serif, Arial, Helvetica;
}

.general{
background-color:rgba(178, 190, 195, 0);
width:90%;
max-width:1200px;
height:1200px;
border: solid rgba(178, 190, 195, 0) 5px;
position:relative;
left:50%;
transform: translateX(-50%);

}

.contiene{
width:100%;
height:1200px;
position:relative;
left:50%;
transform: translateX(-50%);
}


.titulo{
background-color:#a29bfe;
grid-area:titulo;
}

/*------------------------*/
/*----------slider--------------*/
/*------------------------*/
a {	text-decoration: none; }

.contenedor{
	min-width:350px;
}

.slider_banner {
	overflow: hidden;
	z-index: 1000;
	position: relative;
	border-radius: 15px;
}

.slider_banner .banner {
	position: relative;
	width: 100%;
}

.slider_banner .banner img {
	vertical-align: top;
	width: 100%;
	position: absolute;
	top: 0;
	left: 100%;
}

/*------------------------*/
/*----------imaganes volteables--------------*/
/*------------------------*/
a{
text-decoration:none;
}

.contenedore {
	margin:50px auto;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
}

.contenedore_tarjeta {
	margin: 20px;
}

.contenedore_tarjeta a {
	display: inline-block;
}

.contenedore_tarjeta:hover figure {
	transform: perspective(600px) rotateY(180deg);
	-webkit-box-shadow: 0px 2px 10px 2px rgba(0,0,0,0.25);
	-moz-box-shadow: 0px 2px 10px 2px rgba(0,0,0,0.25);
	box-shadow: 0px 2px 10px 2px rgba(0,0,0,0.25);
}

.contenedore_tarjeta:hover figure img {
	/* Si queremos podemos aplicar un efecto blur a nuestra imagen al girar */
	/*filter:blur(2px);*/
}

figure{
	width: 350px;
	height: 270px;
	margin:0;
	position: relative;
	transition: all ease .5s;
	transform-style: preserve-3d;
	/* Nota:
		Establecemos que la imagen tendra una rotacion de 0grados al inicio porque si no
		ponemos esta propiedad nos da un poco de problemas en algunos navegadores al pasar el cursor.
	*/
	transform: perspective(600px) rotateY(0deg);
}

figure .frontal,
figure .trasera {
	width: 100%;
	height: 100%;
	border-radius: 10px;
	transition: all ease .5s;
}

figure .frontal {
	display: block;
	background: #000;

	/* Podemos ocultar la imagen al da la vuelta si lo queremos */
	/*backface-visibility: hidden;*/
}

figure .trasera {
	position: absolute;
	top: 0;
	padding: 20px;
	color: #fff;
	transform: perspective(600px) rotateY(180deg);
	backface-visibility: hidden;
	overflow: auto;
}

/*degradados*/
.trasera{
background: rgba(209,81,111,0.88);
background: -moz-linear-gradient(top, rgba(209,81,111,0.88) 0%, rgba(173,47,76,0.88) 50%, rgba(109,0,25,0.87) 100%);
background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(209,81,111,0.88)), color-stop(50%, rgba(173,47,76,0.88)), color-stop(100%, rgba(109,0,25,0.87)));
background: -webkit-linear-gradient(top, rgba(209,81,111,0.88) 0%, rgba(173,47,76,0.88) 50%, rgba(109,0,25,0.87) 100%);
background: -o-linear-gradient(top, rgba(209,81,111,0.88) 0%, rgba(173,47,76,0.88) 50%, rgba(109,0,25,0.87) 100%);
background: -ms-linear-gradient(top, rgba(209,81,111,0.88) 0%, rgba(173,47,76,0.88) 50%, rgba(109,0,25,0.87) 100%);
background: linear-gradient(to bottom, rgba(209,81,111,0.88) 0%, rgba(173,47,76,0.88) 50%, rgba(109,0,25,0.87) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d1516f', endColorstr='#6d0019', GradientType=0 );
}

.contenedore_tarjeta:nth-child(1) figure .trasera{
background: rgba(241,142,153,0.81);
background: -moz-linear-gradient(top, rgba(241,142,153,0.81) 0%, rgba(186,39,55,0.85) 100%);
background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(241,142,153,0.81)), color-stop(100%, rgba(186,39,55,0.85)));
background: -webkit-linear-gradient(top, rgba(241,142,153,0.81) 0%, rgba(186,39,55,0.85) 100%);
background: -o-linear-gradient(top, rgba(241,142,153,0.81) 0%, rgba(186,39,55,0.85) 100%);
background: -ms-linear-gradient(top, rgba(241,142,153,0.81) 0%, rgba(186,39,55,0.85) 100%);
background: linear-gradient(to bottom, rgba(241,142,153,0.81) 0%, rgba(186,39,55,0.85) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f18e99', endColorstr='#ba2737', GradientType=0 );
}

.contenedore_tarjeta:nth-child(2) figure .trasera{
	background: rgba(251,232,202,0.7);
	background: -moz-linear-gradient(top, rgba(251,232,202,0.7) 0%, rgba(25,44,72,1) 100%);
	background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(251,232,202,0.7)), color-stop(100%, rgba(25,44,72,1)));
	background: -webkit-linear-gradient(top, rgba(251,232,202,0.7) 0%, rgba(25,44,72,1) 100%);
	background: -o-linear-gradient(top, rgba(251,232,202,0.7) 0%, rgba(25,44,72,1) 100%);
	background: -ms-linear-gradient(top, rgba(251,232,202,0.7) 0%, rgba(25,44,72,1) 100%);
	background: linear-gradient(to bottom, rgba(251,232,202,0.7) 0%, rgba(25,44,72,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fbe8ca', endColorstr='#192c48', GradientType=0 );
}
.contenedore_tarjeta:nth-child(3) figure .trasera{
background: rgba(89,153,181,0.8);
background: -moz-linear-gradient(top, rgba(89,153,181,0.8) 0%, rgba(21,45,66,0.85) 100%);
background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(89,153,181,0.8)), color-stop(100%, rgba(21,45,66,0.85)));
background: -webkit-linear-gradient(top, rgba(89,153,181,0.8) 0%, rgba(21,45,66,0.85) 100%);
background: -o-linear-gradient(top, rgba(89,153,181,0.8) 0%, rgba(21,45,66,0.85) 100%);
background: -ms-linear-gradient(top, rgba(89,153,181,0.8) 0%, rgba(21,45,66,0.85) 100%);
background: linear-gradient(to bottom, rgba(89,153,181,0.8) 0%, rgba(21,45,66,0.85) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#5999b5', endColorstr='#152d42', GradientType=0 );
}

.contenedore_tarjeta:nth-child(4) figure .trasera{
background: rgba(66,134,244,0.8);
background: -moz-linear-gradient(top, rgba(66,134,244,0.8) 0%, rgba(55,59,68,0.85) 100%);
background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(66,134,244,0.8)), color-stop(100%, rgba(55,59,68,0.85)));
background: -webkit-linear-gradient(top, rgba(66,134,244,0.8) 0%, rgba(55,59,68,0.85) 100%);
background: -o-linear-gradient(top, rgba(66,134,244,0.8) 0%, rgba(55,59,68,0.85) 100%);
background: -ms-linear-gradient(top, rgba(66,134,244,0.8) 0%, rgba(55,59,68,0.85) 100%);
background: linear-gradient(to bottom, rgba(66,134,244,0.8) 0%, rgba(55,59,68,0.85) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4286f4', endColorstr='#373b44', GradientType=0 );

}

.contenedore_tarjeta:nth-child(5) figure .trasera{
background: rgba(108,240,113,0.8);
background: -moz-linear-gradient(top, rgba(108,240,113,0.8) 0%, rgba(36,64,31,0.85) 100%);
background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(108,240,113,0.8)), color-stop(100%, rgba(36,64,31,0.85)));
background: -webkit-linear-gradient(top, rgba(108,240,113,0.8) 0%, rgba(36,64,31,0.85) 100%);
background: -o-linear-gradient(top, rgba(108,240,113,0.8) 0%, rgba(36,64,31,0.85) 100%);
background: -ms-linear-gradient(top, rgba(108,240,113,0.8) 0%, rgba(36,64,31,0.85) 100%);
background: linear-gradient(to bottom, rgba(108,240,113,0.8) 0%, rgba(36,64,31,0.85) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#6cf071', endColorstr='#24401f', GradientType=0 );
}

.contenedore_tarjeta:nth-child(6) figure .trasera{
background: rgba(255,0,153,0.8);
background: -moz-linear-gradient(top, rgba(255,0,153,0.8) 0%, rgba(73,50,64,0.85) 100%);
background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(255,0,153,0.8)), color-stop(100%, rgba(73,50,64,0.85)));
background: -webkit-linear-gradient(top, rgba(255,0,153,0.8) 0%, rgba(73,50,64,0.85) 100%);
background: -o-linear-gradient(top, rgba(255,0,153,0.8) 0%, rgba(73,50,64,0.85) 100%);
background: -ms-linear-gradient(top, rgba(255,0,153,0.8) 0%, rgba(73,50,64,0.85) 100%);
background: linear-gradient(to bottom, rgba(255,0,153,0.8) 0%, rgba(73,50,64,0.85) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff0099', endColorstr='#493240', GradientType=0 );
}
/*terminana degradados*/


figure .trasera .titulo {
	color: #fff;
	font-weight:600;
	margin-bottom: 10px;
	font-family:font-family:'Open Sans',Sans-serif, Arial, Helvetica;
	font-size: 21px;
	background-color:rgba(0,0,0,0.0);
	line-height: 24px;
}

figure .trasera hr {
	height: 2px;
	background: #fff;
	border: none;
	margin-bottom: 10px;
	opacity: .5;
}

figure .trasera p {
	font-family: font-family:'Open Sans',Sans-serif, Arial, Helvetica;
	line-height: 20px;
	font-size: 16px;
}

@media screen and (max-width: 992px) { 
	figure .trasera {
		/*position: relative;*/
		backface-visibility:visible;
		transform: perspective(600px) rotateY(0deg);
	}

	.contenedore_tarjeta:hover figure {
		transform: perspective(600px) rotateY(0deg);	
	}
}





