*{
	margin:0px;
	padding:0px;
}

/*la grid----------------------*/
.contenedor{
	padding:50px;
	margin:auto;
	display:grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
	grid-template-areas:"dos dos dos"
						"nav uno tres"
						"nav uno tres"
						"nav uno tres"
						"nav uno tres"
						"cuatro uno tres";
	grid-gap: 25px;
}


.menu{ grid-area:nav; }
/*-------------------------*/




.menu{
	display:flex;
	flex-direction:row;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	text-align: center;
	font-family: Arial;
}

.menu{
	min-height: 500px;
	border:20px;
	border-color: black;

}
/*quitar el decorado de las listas*/
ul,ol{	list-style: none;}

/*solo los pirmeros subtitulos*/
.nav>li>p{
	margin:60px 0px 0px 0px;
	font-weight: 900;
}

/*todos los textos*/
.nav li p{
	background-color:#4928A0;
	color:#fff;
 	padding: 10px 15px;

}
.nav li p:hover{
	background-color: #6142B1
}


.nav li ul{
	display:none;
	position:absolute;
	min-width: 150px;
}

.nav li:hover>ul{
	display:block;
}

.nav li ul li{
	position: relative;
}
.nav li ul li ul{
	right: -140px;
	top:0px;
}
/*

*/