@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
	padding: 0;
	border:0;
	box-sizing: border-box;
	font-family: "Poppins",sans-serif;
	color: #eee;
}

body{
	over-flow:hidden;
	background: #2193b0;  
	background: linear-gradient(to right, #6dd5ed, #2193b0);
 	font-size: 16px;
}

.esflex{
	display:flex;
	flex-direction:column;
	justify-content: center;
	align-items: center;
}


section{
	min-height: 100vh;
}

.contenedor{
	position: relative;
	width: 100%;
	max-width:400px;
	min-height: 400px;
	background: rgba(255,255,255,0.1);
	border-radius:10px;
	backdrop-filter:blur(100px);
	-webkit-backdrop-filter: blur(100px);
	box-shadow: 0 25px 45px rgba(0,0,0,0.1);
	border-right:3px solid rgba(255,255,255,0.2);
	border-bottom:3px solid rgba(255,255,255,0.2);
}

.box{
	position: absolute;
}
@media (max-width: 640px) { 
	.box{width:80%}
	
}
.contenedor h2{
	color:#fff;
	font-size:2rem;
	font-weight: 600;
	letter-spacing: 1px;
	text-align: center;	
}

.contenedor p{
	padding: 0px 20px;
	color:rgba(255,255,255,1);
	font-size: 1rem;
}
button{
	font-size: 1rem;
	color:rgba(255,255,255,1);
	background: rgba(255,255,255,0.1);
	padding: 5px;
	margin:5px;
	border-radius:10px;
	backdrop-filter:blur(5px);
	-webkit-backdrop-filter: blur(5px);
	box-shadow: 0 25px 45px rgba(0,0,0,0.1);
	border-right:3px solid rgba(255,255,255,0.2);
	border-bottom:3px solid rgba(255,255,255,0.2);	
}
.input{
	font-size: 1rem;
	color:rgba(150,150,150,1);
	width: 50%;
	margin:5px;

}
@media (max-width: 640px) {
	.contenedor h2{font-size: 1.3rem;}
	.contenedor p{font-size: 0.9rem;}
	button{font-size: 0.9rem;}
	.input{font-size: 0.9rem;}
}
@media (max-width: 380px) {
	.contenedor h2{font-size: 1.2rem;}
	.contenedor p{font-size: 0.8rem;}
	button{font-size: 0.8rem;}
	.input{font-size: 0.8rem;}
}

.cuadrado{
	position: absolute;
	background: rgba(255,255,255,0.1);
	border-radius:10px;
	backdrop-filter:blur(5px);
	-webkit-backdrop-filter: blur(5px);
	box-shadow: 0 25px 45px rgba(0,0,0,0.1);
	border-right:3px solid rgba(255,255,255,0.2);
	border-bottom:3px solid rgba(255,255,255,0.2);	
	animation: animate 10s linear infinite;
	animation-delay: calc(-1s*var(--i));
}
@keyframes animate{
	0%{transform: translateY(-40px);}
	50%{transform:translateY(+40px);}
}


.box .cuadrado:nth-child(1){
	top:-50px;
	right:-60px;
	width:100px;
	height:100px;
}
.box .cuadrado:nth-child(2){
	top:150px;
	left:-100px;
	width:120px;
	height:120px;
	z-index: 2;

}
.box .cuadrado:nth-child(3){
	bottom: 50px;
	right:-60px;
	width:80px;
	height:80px;
	z-index:2;
}
.box .cuadrado:nth-child(4){
	bottom: -80px;
	left:100px;
	width:50px;
	height:50px;
	z-index: 2;
}
.box .cuadrado:nth-child(5){
	top:-80px;
	left: 140px;
	width:60px;
	height:60px;
}







