*{
	margin:0px;
	padding:0px;
}

#header{
	margin:auto;
	width:900px;
	font-family: Arial;
	border:5px;
	border-color: black;
}


ul,ol{
	list-style: none;
}

.nav li p{
	background-color:#4928A0;
	color:#fff;
 	padding: 10px 15px;

}

.nav li p:hover{
	background-color: #6142B1
}

.nav>li{
	float:left;
	min-width: 150px;

}

.nav li ul{
	display:none;
	position:absolute;
	min-width: 150px;
}

.nav li:hover>ul{
	display:block;
}

.nav li ul li{
	position: relative;
}
.nav li ul li ul{
	right: -140px;
	top:0px;
}

